.btn-primary > a {
  color: white;
}
a:hover {
  color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
article.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

nav.navbar {
  width: 100vw;
  background-color: white;
}
.logo-image {
  width: 32px;
  height: 35px;
}
/* Welcome */
.top-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
}
.intro-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-evenly;
}
.row-headings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div[class^="heading-"] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.heading-1 {
  border-right: 10px solid grey;
  flex: 1;
}
.heading-2 {
  border-left: 10px solid grey;
  flex: 1;
}
.heading {
  text-align: center;
  font-size: 4em;
}
.welcome.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content-bars-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 30px 0px;
}
.content-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  height: 30vh;
}
.content-bar > h2[class$="heading"] {
  font-size: 3em;
}
.content-bar > p {
  font-size: 1.5em;
}

/* Memes Index */
.index-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  width: 100vw;
}
.memes-main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 70vw;
  padding-top: 20px;
}
.memes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 70vw;
  padding: 20px 10px 10px 10px;
}
.meme-container {
  display: flex;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 10px;
  width: 30vw;
}
.votes-container {
  background-color: rgb(218, 217, 219);
  width: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.votes-container * {
  margin: 5px;
}
.about-meme {
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
}
.meme-img-container.index {
  object-fit: contain;
}
.meme-img {
  width: 50%;
}
.dropdown-toggle {
  min-width: 10rem;
}
.popular-tags-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  height: max-content;
  padding: 20px;
  margin-top: 11vh
}

/*Image Grid*/
.gallery { 
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(8, 5vw);
  grid-template-rows: repeat(8, 8vh);
  grid-gap: 15px;
  padding: 20px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
/* Meme Forms */
.meme-form-container {
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

/* Meme Show */
.meme-main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 40px;

}
.meme-top-container {
  display: flex;
  width: 90vw;
}
.meme-show-container {
  width: 60vw;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.meme-img-container.show {
  width: 50vw;
}
.meme-img.show {
  width: 50vw;
}
.tag-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 10px;
}
.tag-list li {
  margin: 0 5px;
}
.meme-show-container * {
  margin: 5px 0px;
}
.comment-form-container {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed black;
  margin-top: 20px;
  padding-top: 10px;
}
.comments-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 60vw;
  margin-top: 20px;
  padding: 10px;
}
.buttons-container {
  display: flex;
}
.meme-button {
  margin: 0px 5px;
}
.comment-buttons-container {
  display: flex;
  flex-direction: row;
}
.comment-button.btn {
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  font-size: 10px;
  width: 40px;
}
div.tags {
  margin-left: 8vw;
  position: relative;
  bottom: 11vh;
}

/*Sign Up*/
.signup-form-container {
  margin-top: 5vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

/* Sign In Container */
.signin-form-container {
  width: 30vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 5vh;
}

/* Error */
.error-container {
  background: rgba(255, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin: 5px 0px;
}
.error {
  color: white;
}
/* Payments Form */
.payments-main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.plans-difference-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 50vw;
  margin-top: 3vh;
}
div[class$="-plan-container"] {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}
.plan-image-container {
  object-fit: contain;
}
.plan-image {
  width: 200px;
  height: 200px;
}
.plan-heading {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.gold {
  color: gold;
}
.plan-benefits-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  justify-content: center;
  padding: 20px 0 0;
}
.payment-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  justify-content: space-around;
  height: 20vh;
}
